body{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: 75px 75px / 75px 75px;
    margin: 100px auto;
    align-content: center;
    justify-content: center;
    justify-items: end;
 
}
.one{
background-color: blue;
justify-self: end;
}
.two{
    background-color: rgb(219, 12, 140);
}
.three{
    background-color: aqua;
}
.four{
    background-color: blueviolet;
}