body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.side_nav{
    grid-column: 1/2;
    border-right: 2px solid #8AA6A3;
}
a{
    display: block;
}
.scroll_page{
    grid-column: 2/7;
    min-height: 600px;
    display: grid;
    grid-template-rows: repeat(2, auto);
}
.main_body{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.title{
    grid-column: 2/5;
    justify-self: center;
}
.main_body_img{
    grid-column: 5/6;
}
.footer{
    grid-row: 2/3;
    background-color: #BFBFBF;
}
img{
    max-width: 150px;
}
.logo{
    max-width: 75px;
}
p{
    font-size: 1em;
}